<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216759979150-6ctiipmsac84rdk0jetri7r3qbu7t8jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216759979150-6ctiipmsac84rdk0jetri7r3qbu7t8jb</string>
	<key>API_KEY</key>
	<string>AIzaSyBBW3t8qcXxhEsZkTTPffQGKbtMceysIzM</string>
	<key>GCM_SENDER_ID</key>
	<string>216759979150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mdreader</string>
	<key>PROJECT_ID</key>
	<string>mdreader-17b70</string>
	<key>STORAGE_BUCKET</key>
	<string>mdreader-17b70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216759979150:ios:ac3fab596a9972d4f38ddf</string>
</dict>
</plist>